# terraform state
.terraform/
*.tfstate
*.tfstate.backup

# terraform variables
*.tfvars

# deprecated
*.tf_BACKUP

# test
artifacts/

# test environment
terra-env/
.vscode/
test/data/
__pycache__
mlruns/